.retangulo-fundo {
    width: 100%;
    background-color: #38A588;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    color: #fff;
}
.retangulo-fundo span {
    font-size: 40px;
}

.retangulo-fundo h1 {
    margin: 0;
    margin-left: 10px;
}